/* applies to all elements */
* {
    /* changed box siaing to all element */
    box-sizing: border-box;
    /* removed outline */
    outline: none;
}

body {
    margin: 0;
    padding: 20px;
    border: 20px magenta ridge;
    color: rgb(233, 202, 3);
    /* added gradient background  */
    background: linear-gradient(297deg, rgba(37, 155, 213, 1) 11%, rgba(117, 109, 221, 1) 52%, rgba(151, 27, 247, 1) 85%, rgba(162, 0, 255, 1) 100%);
    font-family: 'Orbitron', sans-serif;
    font-size: 19px;
}


h1 {
    /* moving the h1 to center of the page */
    text-align: center;
    /* increased font size for heading */
    font-size: 3rem;
    /* imported font from google font */
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    /* added shadow */
    text-shadow: rgb(191, 191, 191) 8px 8px 9px;
    position: absolute;
    left: 0;
    right: 0;
}

header p {
    font-size: 1.6em;
    color: orangered;
    text-decoration: underline;
}

/* styling profile image */
#profile-image {
    /* resized the image */
    height: 200px;
    width: 200px;
    /* made the image raounder */
    border-radius: 50%;
    /* added border to the image */
    border: 10px rgba(24, 20, 1, 0.476) solid;
}

/* styling the h2 */
h2 {
    background-color: rgb(247, 171, 171);
    /* fallback  background color */
    background-color: rgba(247, 171, 171, 0.171);
    text-decoration: underline rgb(255, 174, 0);
    padding: 0.7em;
}

/*applying same styles for two elemens*/
section,
aside {
    /* added margins to top and bottom*/
    margin: 2rem;
    /* added padding */
    padding: 0.5em;
    /* added naclground */
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.236);
    /* added border to set them apart */
    border: 6px solid rgba(255, 48, 48, 0.638);
}

/* styling the contact information */
.contact-info p:nth-child(2) {
    position: absolute;
    right: 30px;
    top: 290px;
}

/* stylding the anchot tag */
a {
    text-decoration: none;
    /* removed the default styles associated with link*/
    color: inherit;
    /* inheriting text color from parent*/
}

/* styling paragraphs */
p {
    color: whitesmoke;
}

/* styling individual list items */
li {
    /* added a different list style */
    list-style-type: square;
    color: rgb(255, 255, 255);
}

/* styling the table  */
table {
    width: 100%;
    padding: 2em;
    color: whitesmoke;
    text-align: start;
}

/* added text color to table heads */
th {
    text-align: center;
    color: rgba(68, 255, 0, 0.803);
}

/* styling the table data */
td {
    text-align: center;
}

/* styling the form */
form {
    padding: 0.5em;
    margin: 1.5em;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* styling fieldset */
fieldset {
    text-align: start;
    margin: 1em;
    padding: 1em;
}

/* styling individual inout */
input {
    /* added margin to separate */
    margin: 0.5em;
}

select {
    width: 100%;
    color: whitesmoke;
    background-color: rgba(86, 47, 112, 0.67);
}


textarea {
    background-color: rgba(79, 21, 117, 0.67);
    color: whitesmoke;
}

/* styling button */
button {
    background-color: rgba(115, 9, 147, 0.73);
    color: whitesmoke;
}

/* styling on button hover */
button:hover {
    /* increse size when hovering */
    font-size: 1rem;
    /* change color when hovering */
    background-color: rgba(195, 89, 195, 0.688);
}

/* styling the footer */
footer {
    /* decreased font size  */
    font-size: 10px;
}


/* for mobile viewing */
/* Source: https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile */

@media(min-width:320px), (min-width: 420px) {

    /* removed padding to remove extra space */
    body {
        padding: 0;
    }

    /* removed margin to fit content to screen */
    section,
    aside {
        margin-left: 0;
        margin-right: 0;
    }

    /* change font size of header */
    h1 {
        width: auto;
        font-size: 1.8em;
        margin-top: 0px;
    }

    /* aligned header text to center  */
    h2 {
        text-align: center;
    }

    /* aligned and resized the paragraph */
    header p {
        font-size: 1em;
        text-align: center;
        margin-bottom: 70px;
    }

    /* rexized and re-positioned profile picture to center */
    #profile-image {
        width: 100px;
        height: 100px;
        border: 5px rgba(24, 20, 1, 0.476) solid;
        position: relative;
        top: 20px;
        left: 150px;
    }

    .contact-info p:nth-child(2) {
        font-size: 12px;
        top: 200px;
        left: 100px
    }

    /* sourse to make table more mobile friendly: https://stackoverflow.com/questions/4237110/how-can-i-make-a-css-table-fit-the-screen-width */
    table {
        padding: 0;
        table-layout: fixed;
        overflow-x: auto;
        display: block;
    }

    /* added border to tables */
    th,
    td {
        border: 1px solid black;
        margin: 0;
    }

    /* resized input boxes */
    #email,
    #name,
    #organization,
    #role {
        height: 40px;
        width: 120%;
        background-color: rgba(255, 255, 255, 0.773);
    }

    fieldset {
        font-size: 20px;
        border: 1px solid red;
        width: 100%;
    }

    button {
        height: 40px;
        width: 100px;
        margin: 5px;
        transition: 0.3s ease-out;
    }

    /* source used to make transition effect on the button: https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    button:hover {
        font-size: 20px;
    }
}

/* for tablet and larger screen viewing */
/* Source: https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile */
@media (min-width: 600px) {

    /* removed padding to remove extra space */
    body {
        padding: 0;
    }

    /* removed margin to fit content to screen */
    section,
    aside {

        margin-left: 10px;
        margin-right: 10px;
    }

    /* change font size of header */
    h1 {
        width: auto;
        font-size: 4em;
        margin-top: 0px;
    }

    /* aligned header text to center  */
    h2 {
        text-align: left;
    }

    /* aligned and resized the paragraph */
    header p {
        font-size: 2em;
        text-align: left;
        margin-left: 10px;
        margin-bottom: 0;
    }

    /* rexized and re-positioned profile picture to center */
    #profile-image {
        width: 300px;
        height: 300px;
        border: 5px rgba(24, 20, 1, 0.476) solid;
        position: relative;
        top: 20px;
        left: 15px;
    }

    .contact-info p:nth-child(2) {
        font-size: 1em;
        position: absolute;
        left: 30px;
        top: 430px;

    }

    /* stylding the anchot tag */
    a {
        text-decoration: none;
        /* removed the default styles associated with link*/
        color: inherit;
        /* inheriting text color from parent*/
    }

    /* styling paragraphs */
    p {
        color: rgb(255, 255, 255);
    }

    /* styling individual list items */
    li {
        /* added a different list style */
        list-style-type: square;
        color: rgb(255, 255, 255);
    }

    /* styling the table  */
    table {
        width: 100%;
        /* padding: 2em; */
        color: rgb(255, 255, 255);
        /* text-align: start; */
    }

    /* added text color to table heads */
    th {
        text-align: center;
        color: rgba(68, 255, 0, 0.803);
    }

    /* styling the table data */
    td {
        text-align: center;
    }

    /* styling the form */
    form {
        border: 1px solid white;
        padding: 0.5em;
        margin: 1.5em;
        color: whitesmoke;
    }

    /* styling fieldset */
    fieldset {
        margin: 1em;
        padding: 1em;
    }

    /* styling individual inout */
    input {
        /* added margin to separate */
        margin: 0.5em;
    }

    /* selection all inout inside fieldset */
    #email,
    #name,
    #organization,
    #role {
        height: 40px;
        width: 100%;
        background-color: rgba(79, 21, 117, 0.500);
        color: whitesmoke;
    }

    form label {
        width: 100%;
    }

    textarea {
        width: 100%;
        background-color: rgba(79, 21, 117, 0.5);
        color: whitesmoke;
    }

    /* styling button */
    button {
        background-color: rgba(115, 9, 147, 0.73);
        color: antiquewhite;
    }

    /* styling on button hover */
    button:hover {
        /* increse size when hovering */
        font-size: 1rem;
        /* change color when hovering */
        background-color: rgba(195, 89, 195, 0.688);
    }

    /* styling the footer */
    footer {
        /* decreased font size  */
        font-size: 10px;
    }
}