/* applies to all elements */
* {
    /* changed box siaing to all element */
    box-sizing: border-box;
    /* removed outline */
    outline: none;
}

body {
    margin: 0;
    padding: 20px;
    border: 20px magenta ridge;
    color: rgb(233, 202, 3);
    /* added gradient background  */
    background: linear-gradient(297deg, rgba(37, 155, 213, 1) 11%, rgba(117, 109, 221, 1) 52%, rgba(151, 27, 247, 1) 85%, rgba(162, 0, 255, 1) 100%);
    font-family: 'Orbitron', sans-serif;
    font-size: 19px;
}

h1 {
    /* moving the h1 to center of the page */
    text-align: center;
    /* increased font size for heading */
    font-size: 3rem;
    /* imported font from google font */
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    /* added shadow */
    text-shadow: rgb(191, 191, 191) 8px 8px 9px;
    position: absolute;
    left: 0;
    right: 0;
}

header p {
    font-size: 1.6em;
    color: orangered;
    text-decoration: underline;
}

.header-contact {
    color: whitesmoke;
    font-size: 1em;
}

/* styling profile image */
#profile-image {
    /* resized the image */
    height: 200px;
    width: 200px;
    /* made the image raounder */
    border-radius: 50%;
    /* added border to the image */
    border: 10px rgba(24, 20, 1, 0.476) solid;
}

/* styling the h2 */
h2 {
    background-color: rgb(247, 171, 171);
    /* fallback  background color */
    background-color: rgba(247, 171, 171, 0.171);
    text-decoration: underline rgb(255, 174, 0);
    padding: 0.7em;
}

/*applying same styles for two elemens*/
section,
aside {
    /* added margins to top and bottom*/
    margin: 2rem;
    /* added padding */
    padding: 0.5em;
    /* added naclground */
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.236);
    /* added border to set them apart */
    border: 6px solid rgba(255, 48, 48, 0.638);
}


/* stylding the anchot tag */
a {
    text-decoration: none;
    /* removed the default styles associated with link*/
    color: inherit;
    /* inheriting text color from parent*/
}

/* styling paragraphs */
p {
    color: whitesmoke;
}

/* styling individual list items */
li {
    /* added a different list style */
    list-style-type: square;
    color: whitesmoke
}

/* styling the table  */
table {
    padding: 0;
    table-layout: fixed;
    overflow-x: auto;
    display: block;
}

/* added border to tables */
th,
td {
    border: 1px solid black;
    margin: 0;
}

/* added text color to table heads */
th {
    text-align: center;
    color: rgba(68, 255, 0, 0.803);
}

/* styling the table data */
td {
    text-align: center;
}

/* styling listitems */
ul li{
    transition: ease 0.1s;
}

li:hover{
    font-size: 20px;
    color: rgba(219, 100, 255, 0.841);

}

/* styling the form */
form {
    padding: 0.5em;
    margin: 1.5em;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    width: 100%;
}

/* styling fieldset */
fieldset {
    text-align: start;
    margin: 1em;
    padding: 1em;
}

/* styling individual inout */
input {
    /* added margin to separate */
    margin: 0.5em;
}

select {
    width: 100%;
    height: 40px;
    color: whitesmoke;
    background-color: rgba(86, 47, 112, 0.67);
}

textarea {
    width: 70%;
}

/* resized input boxes */
#email,
#name,
#organization,
#role {
    height: 40px;
    width: 100%;
    background-color: rgba(79, 21, 117, 0.500);
    color: whitesmoke;
}

/* styling fieldset */
fieldset {
    font-size: 20px;
    border: 1px solid red;
    width: 100%;
}

textarea {
    background-color: rgba(79, 21, 117, 0.67);
    color: whitesmoke;
}

/* styling button */
button {
    background-color: rgba(115, 9, 147, 0.73);
    color: whitesmoke;
    transition: 0.3s ease-out;
    width: 150px;
    height: 40px;
    margin: 10px 0 20px 0;

}

/* styling on button hover */
button:hover {
    /* increse size when hovering */
    font-size: 1rem;
    /* change color when hovering */
    background-color: rgba(195, 89, 195, 0.688);
}

/* styling the footer */
footer {
    /* decreased font size  */
    font-size: 10px;
}

/* Responsiveness for medium phones */
@media (max-width: 480px) {
    body {
        padding: 5px;
    }

    /* removed margin to fit content to screen */
    section,
    aside {
        margin-left: 0;
        margin-right: 0;
    }

    /* change font size of header */
    h1 {
        width: auto;
        font-size: 1.6em;
        margin-top: 0px;
    }

    /* aligned header text to center  */
    h2 {
        text-align: center;
    }

    /* aligned and resized the paragraph */
    header p {
        font-size: 1em;
        text-align: center;
        margin-bottom: 70px;
        margin-bottom: 10px;
    }

    /* selecting contact detail in header using class */
    .header-contact {
        color: whitesmoke;
        font-size: 0.7em;
    }

    /* rexized and re-positioned profile picture to center */
    #profile-image {
        width: 150px;
        height: 150px;
        border: 5px rgba(24, 20, 1, 0.476) solid;
        position: relative;
        top: 20px;
        left: 110px;
    }

    /* sourse to make table more mobile friendly: https://stackoverflow.com/questions/4237110/how-can-i-make-a-css-table-fit-the-screen-width */
    table {
        padding: 0;
        table-layout: fixed;
        overflow-x: auto;
        display: block;
    }

    /* added border to tables */
    th,
    td {
        border: 1px solid black;
        margin: 0;
    }

    /* resized input boxes */
    #email,
    #name,
    #organization,
    #role {
        height: 40px;
        width: 120%;
        background-color: rgba(79, 21, 117, 0.500);
    }

    /* styling fieldset */
    fieldset {
        font-size: 20px;
        border: 1px solid red;
        width: 100%;
    }

    button {
        height: 40px;
        width: 100%;
        margin: 5px;
        transition: 0.3s ease-out;
    }

    /* source used to make transition effect on the button: https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    button:hover {
        font-size: 20px;
    }
}

/* Responsiveness for small phones */
@media (max-width: 360px) {
    body {
        padding: 5px;
    }

    /* removed margin to fit content to screen */
    section,
    aside {
        margin-left: 0;
        margin-right: 0;
    }

    /* change font size of header */
    h1 {
        width: auto;
        margin-top: 0px;
        font-size: 1.3em;
    }

    /* aligned header text to center  */
    h2 {
        text-align: center;
    }

    a {
        font-size: 0.8em;
    }

    /* aligned and resized the paragraph */
    header p {
        font-size: 1em;
        text-align: center;
        margin-bottom: 70px;
        margin-bottom: 10px;
    }

    section p {
        font-size: 0.8em;
    }

    /* selecting contact detail in header using class */
    .header-contact {
        color: whitesmoke;
        font-size: 0.7em;
    }

    /* rexized and re-positioned profile picture to center */
    #profile-image {
        width: 150px;
        height: 150px;
        border: 5px rgba(24, 20, 1, 0.476) solid;
        position: relative;
        top: 10px;
        left: 60px;
    }

    /* sourse to make table more mobile friendly: https://stackoverflow.com/questions/4237110/how-can-i-make-a-css-table-fit-the-screen-width */
    table {
        font-size: 0.8em;
        padding: 0;
        table-layout: fixed;
        overflow-x: auto;
        display: block;
    }

    /* added border to tables */
    th,
    td {
        border: 1px solid black;
        margin: 0;
    }

    /* resized input boxes */
    #email,
    #name,
    #organization,
    #role {
        height: 40px;
        width: 120%;
        background-color: rgba(255, 255, 255, 0.773);
    }

    /* styling fieldset */
    fieldset {
        font-size: 20px;
        border: 1px solid red;
        width: 100%;
    }

    fieldset label {
        font-size: 0.8em;
    }

    button {
        height: 40px;
        width: 100%;
        margin: 5px;
        transition: 0.3s ease-out;
    }

    /* source used to make transition effect on the button: https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    button:hover {
        font-size: 20px;
    }
}

/* Responsiveness for tablets */
@media (max-width: 700px) {
    body {
        padding: 5px;
    }

    /* removed margin to fit content to screen */
    section,
    aside {
        margin-left: 0;
        margin-right: 0;
    }

    /* change font size of header */
    h1 {
        width: auto;
        font-size: 1.6em;
        margin-top: 0px;
    }

    /* aligned header text to center  */
    h2 {
        text-align: center;
    }

    /* aligned and resized the paragraph */
    header p {
        font-size: 1em;
        text-align: center;
        margin-bottom: 70px;
        margin-bottom: 10px;
    }

    /* selecting contact detail in header using class */
    .header-contact {
        color: whitesmoke;
        font-size: 0.7em;
    }

    /* rexized and re-positioned profile picture to center */
    #profile-image {
        width: 200px;
        height: 200px;
        border: 5px rgba(24, 20, 1, 0.476) solid;
        position: relative;
        top: 20px;
    }

    /* sourse to make table more mobile friendly: https://stackoverflow.com/questions/4237110/how-can-i-make-a-css-table-fit-the-screen-width */
    table {
        padding: 0;
        table-layout: fixed;
        overflow-x: auto;
        display: block;
    }

    /* added border to tables */
    th,
    td {
        border: 1px solid black;
        margin: 0;
    }

    /* resized input boxes */
    #email,
    #name,
    #organization,
    #role {
        height: 40px;
        width: 90%;
        background-color: rgba(79, 21, 117, 0.500);
        color: whitesmoke;
    }

    /* styling fieldset */
    fieldset {
        font-size: 20px;
        border: 1px solid red;
        width: 100%;
    }

    button {
        height: 40px;
        width: 100%;
        margin: 5px;
        transition: 0.3s ease-out;
    }

    /* source used to make transition effect on the button: https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    button:hover {
        font-size: 20px;
    }
}

/* Responsivenses for larger tablets */
@media (max-width: 1000px) {
    body {
        padding: 5px;
    }

    /* removed margin to fit content to screen */
    section,
    aside {
        margin-left: 0;
        margin-right: 0;
    }

    /* change font size of header */
    h1 {
        width: auto;
        font-size: 1.6em;
        margin-top: 0px;
    }

    /* aligned header text to center  */
    h2 {
        text-align: center;
    }

    /* aligned and resized the paragraph */
    header p {
        font-size: 1em;
        text-align: center;
        margin-bottom: 70px;
        margin-bottom: 10px;
    }

    /* selecting contact detail in header using class */
    .header-contact {
        color: whitesmoke;
        font-size: 0.7em;
    }

    /* rexized and re-positioned profile picture to center */
    #profile-image {
        width: 200px;
        height: 200px;
        border: 5px rgba(24, 20, 1, 0.476) solid;
        position: relative;
        top: 20px;
    }

    /* sourse to make table more mobile friendly: https://stackoverflow.com/questions/4237110/how-can-i-make-a-css-table-fit-the-screen-width */
    table {
        padding: 0;
        table-layout: fixed;
        overflow-x: auto;
        display: block;
    }

    /* added border to tables */
    th,
    td {
        border: 1px solid black;
        margin: 0;
    }

    /* resized input boxes */
    #email,
    #name,
    #organization,
    #role {
        height: 40px;
        width: 90%;
        background-color: rgba(79, 21, 117, 0.500);
        color: whitesmoke;
    }

    /* styling fieldset */
    fieldset {
        font-size: 20px;
        border: 1px solid red;
        width: 100%;
    }

    button {
        height: 40px;
        width: 100%;
        margin: 5px;
        transition: 0.3s ease-out;
    }

    /* source used to make transition effect on the button: https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    button:hover {
        font-size: 20px;
    }
}